<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<dom-module id="login-window">
<template>
    <style>
        :host {
        display: block;

        padding: 16px;
        }
    </style>

    <div style="padding: 10px; color: blue;">
            <b>Testing AAAAAAAAAAAAAAAAAAAAH</b>
        </div>
</template>
<script>
    Polymer({
      /* this is the element's prototype */
      is: 'login-window'
    });
  </script>
</dom-module>